* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(245, 245, 245);
    color: white;
    color: black;
}


header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding: 0.5rem 2rem;
    margin-bottom: 4rem;
}

.burger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border: none;
    cursor: pointer;
    background: transparent;
}

span {
    width: 2rem;
    height: 0.2rem;
    background-color: rgb(0, 0, 0);
    border-radius: 0.5rem;
}

.size_icon {
    width: 2rem;
    cursor: pointer;
    padding: 0.2rem;
    
}

.size_icon:hover  {
   background-color: rgba(78, 78, 78, 0.209);
   
}



.right_section {
    display: flex;
    gap: 1rem;
}

.log_in {
    padding: 0 0.2rem;
    cursor: pointer;
    background: transparent;
    border: solid 1px rgb(0, 0, 0);
    border-radius: 0.2rem;
}

.log_in:hover {
    background-color: rgb(228, 228, 228);
}

main {
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: auto;
}



.content {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    height: 50rem;
    
}

.content_img {
    background-color: black;
    width: 100%;
    height: 15rem;
   
}

.margin_bottom {
    margin-bottom: 1rem;
}

.margin_top {
    margin-top: 2rem;
}

.complement_text {
  
    overflow-wrap: break-word;
}

.small_content_img {
    width: 100%;
    height: 8rem;
    background-color: black;
}

.sidebar {
   max-width: 20rem;
   min-width: 10rem;
   flex-grow: 1;
flex-shrink: 1;
flex-basis: 0;
  
   

   
}

.scroll {
    overflow-y: scroll;
    height: 80%;

}

.scroll::-webkit-scrollbar {
    
    width: 8px; 
  }
  
  
  .scroll::-webkit-scrollbar-track {
    background: transparent; 
  }
  
 
  .scroll::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.4); 
    border-radius: 4px;
  }
  

  .scroll::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.6); 
  }

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
}

.fade {
    height: 100px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 50;
    background: 
  linear-gradient(to bottom, rgb(245, 245, 245)  0%, transparent 100%),
  linear-gradient(to bottom, rgb(245, 245, 245)  30%, transparent 100%);

}

.sticky_bottom {
    position: sticky;
    bottom: 0;
    width: 100%;
}



.fade_bottom {
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 50;
    background: 
  linear-gradient(to top, rgb(245, 245, 245)  0%, transparent 100%),
  linear-gradient(to top, rgb(245, 245, 245)  30%, transparent 100%);
}




.main-article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    
    width: 25rem;
    height: 80rem;
}

.articles_of_the_year {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    max-width: 50rem;
    flex-wrap: wrap;
  
}

.article {
    width: 30%;
    min-width: 12rem;
}

footer {
    margin-top: 10rem;
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    box-shadow: 0px 0px 10px 3px rgba(162, 162, 162, 0.2);
    background-color: rgb(247, 247, 247);
    
}

.social_media {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.wrap_social {
    display: flex;
    gap: 1rem;
}

.animation {
    padding: 1rem 0rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.animation:hover {
    background-color: rgb(225, 225, 225);
}

.search {
    align-self: center;
}

input {
    width: 20rem;
    height: 2rem;
    padding-left: 1rem;
}

@media (max-width: 1024px) {
    
}

@media (max-width: 600px) {
    main {
      width: 90%;
    
    }
    input {
        width: 15rem;
    }

    .content {
        flex-direction: column;
        height: 100%;
    }

    .scroll {
        display: flex;
        height: 100%;
        gap: 2rem;
        overflow-y: visible;
        overflow-x: scroll;
    }

    .animation {
        min-width: 10rem;
    }

    .sidebar {
        max-width: none;
    }

    .content_img {
        height: 10rem;
    }

    .article {
        width: 100%;
    }

    .main-article {
        height: auto;
        width: auto;
    }
}